{
  "IsEncrypted": false,
  "Values": {
    "AzureWebJobsStorage": "",
    "FUNCTIONS_WORKER_RUNTIME": "node",
    "ENABLE_AI_TOOL": "false",
    "AZURE_AI_ENDPOINT": "",
    "AZURE_AI_KEY": "",
    "AZURE_AI_DEPLOYMENT": "gpt-35-turbo"
  }
}
